@model List<Academia>
@{
    ViewData["Title"] = "Gerenciar Pessoa";
}

<div class="text-center">
    <div class="container">
        <div style="display:flex; flex-direction:row; justify-content:space-around;">
            <h4>Academias</h4>
            <a class="btn btn-primary" style="margin-right:5px;" asp-controller="Academia" asp-action="Cadastrar">Cadastrar</a>
        </div>
    </div>
</div>
<div id="Listar_Pessoa" style="display:flex inline-flex; flex-direction:column;">
    <h1 class="display-4">Listagem de academias</h1>

    <table id="table-contatos" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">CNPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço Id</th>
                <th scope="col">CnpjRede</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var academia in Model)
                {
                    <tr>
                        <th scope="row">@academia.Cnpj</th>
                        <td>@academia.Nome/td>
                        <td>@academia.EnderecoId</td>
                        <td>@academia.CnpjRede</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Editar" asp-controller="Academia" asp-route-cnpj="@academia.Cnpj" class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="ApagarConfirmacao" asp-controller="Academia" asp-route-cnpj="@academia.Cnpj" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhuma pessoa encontrada</td></tr>
            }
        </tbody>
    </table>
</div>