@model List<Rede>
@{
    ViewData["Title"] = "Cadastrar rede";
}
<div class="text-center">
    <div class="container">
        <div style="display:flex; flex-direction:row; justify-content:space-around;">
            <h4>Redes</h4>
            <a class="btn btn-primary" style="margin-right:5px;" asp-controller="Rede" asp-action="Cadastrar">Cadastrar</a>
        </div>
    </div>
</div>
<div style="display:flex; flex-direction:column;">
    <h1 class="display-4">Listagem de contatos</h1>

    <table id="table-contatos" class="table display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço Id</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var rede in Model)
                {
                    <tr>
                        <td>@rede.Cnpj</td>
                        <td>@rede.Nome</td>
                        <td>@rede.EnderecoId</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Editar" asp-controller="Rede" asp-route-cnpj="@rede.Cnpj" class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="ApagarConfirmacao" asp-controller="Rede" asp-route-cnpj="@rede.Cnpj" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd">
                    <td valign="top" colspan="4">Nenhuma rede encontrada</td>
                </tr>
            }
        </tbody>
    </table>
</div>
